@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400&display=swap");

html {
  height: 100%;
  overflow: hidden;
}

body {
  display: grid;
  place-items: center;
  height: 100%;
  margin: 0;
  font-family: "Fira Code", monospace;
  text-align: center;
  background-image: url(https://source.unsplash.com/collection/41591818/);
  backdrop-filter: grayscale(100%);
  background-size: cover;
  background-position: center center;
}

.text {
  max-width: 90%;
  margin: 0 auto;
}

#greeting {
  font-size: 1.75rem;
}

#time {
  font-size: 1.25rem;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
}

form svg {
  margin-right: -1.65rem;
  width: 1rem;
  height: 1rem;
}

.search {
  padding: 4px;
  padding-left: 2rem;
  border: 1px solid black;
  outline: none;
  width: 15rem;
  border-radius: 4px;
  background: transparent;
}

.shortcuts-title {
  font-size: 1rem;
}

hr {
  max-width: 250px;
  margin: 0 auto;
}

@media (min-width: 550px) {
  #greeting {
    font-size: 2.25rem;
  }

  #time {
    font-size: 1.5rem;
  }

  form svg {
    margin-right: -1.75rem;
    width: 1.25rem;
    height: 1.25rem;
  }

  .search {
    width: 17.5rem;
    font-size: 1rem;
  }

  .shortcuts-title {
    font-size: 1.3rem;
  }
}

@media (min-width: 800px) {
  .text {
    max-width: 725px;
  }

  #greeting {
    font-size: 3rem;
  }

  #time {
    font-size: 1.75rem;
  }

  form svg {
    margin-right: -2.2rem;
    width: 1.5rem;
    height: 1.5rem;
  }

  .search {
    padding: 6px;
    padding-left: 2.5rem;
    width: 20rem;
    font-size: 1.1rem;
  }

  .shortcuts-title {
    font-size: 1.6rem;
  }

  hr {
    max-width: 350px;
    margin: 0 auto;
  }
}

@media (min-width: 1200px) {
  .text {
    max-width: 800px;
  }

  #greeting {
    font-size: 3rem;
  }

  #time {
    font-size: 1.85rem;
  }

  form svg {
    margin-right: -2.5rem;
    width: 1.7rem;
    height: 1.7rem;
  }

  .search {
    padding: 8px;
    padding-left: 3rem;
    width: 22.5rem;
    font-size: 1.25rem;
  }

  .shortcuts-title {
    font-size: 1.85rem;
  }
}
